.scmovie-list {
    
    &-item {
        position: relative;
        margin-left: 10px;
        padding-right: 10px;
    }
    
    &-image {
        width: 100%;
        border-radius: 5px;
    }

    &-overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        font-weight: 700;
    }

    &-time {
        background-color: #f5b50a;
        text-align: center;
        padding: 3px 5px;
        border-radius: 3px;
    }

    &-title {
        text-transform: uppercase;
        margin-top: 15px;
        font-size: 18px;
        &:hover {
            color: var(--colorSecondary);
        }
    }

    &-star {
        font-size: 12px;
        font-weight: 600;
        i {
            font-size: 22px;
            color: var(--colorSecondary);
        }
        span {
            font-size: 18px;
        }
    }
}